.tlc-logo:focus,
.tlc-logo:hover,
button:focus,
button:hover {
    -webkit-filter: invert(74%) sepia(65%) saturate(1000%) hue-rotate(185deg) brightness(110%) contrast(40%);
    filter: invert(74%) sepia(65%) saturate(1000%) hue-rotate(185deg) brightness(110%) contrast(40%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}

header {
    background-color: var(--background)
}

#index-gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12" "img13 img14 img15" "img16 img17 img18" "img19 img20 img21" "img22 img23 img24" "img25 img26 img27" "img28 img29 img30" "img31 img32 img33" "img34 img35 img36" "img37 img38 img39" "img40 img41 img42"
}

#index-gallery .gallery-img {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer
}

#index-gallery .img1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: img1;
    background-image: url("../img/thumbs/img1.jpg")
}

#index-gallery .img2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img2;
    background-image: url("../img/thumbs/img2.jpg")
}

#index-gallery .img3 {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: img3;
    background-image: url("../img/thumbs/img3.jpg")
}

#index-gallery .img4 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img4;
    background-image: url("../img/thumbs/img4.jpg")
}

#index-gallery .img5 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: img5;
    background-image: url("../img/thumbs/img5.jpg")
}

#index-gallery .img6 {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
    grid-area: img6;
    background-image: url("../img/thumbs/img6.jpg")
}

#index-gallery .img7 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: img7;
    background-image: url("../img/thumbs/img7.jpg")
}

#index-gallery .img8 {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
    grid-area: img8;
    background-image: url("../img/thumbs/img8.jpg")
}

#index-gallery .img9 {
    -ms-grid-row: 5;
    -ms-grid-column: 5;
    grid-area: img9;
    background-image: url("../img/thumbs/img9.jpg")
}

#index-gallery .img10 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: img10;
    background-image: url("../img/thumbs/img10.jpg")
}

#index-gallery .img11 {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
    grid-area: img11;
    background-image: url("../img/thumbs/img11.jpg")
}

#index-gallery .img12 {
    -ms-grid-row: 7;
    -ms-grid-column: 5;
    grid-area: img12;
    background-image: url("../img/thumbs/img12.jpg")
}

#index-gallery .img13 {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: img13;
    background-image: url("../img/thumbs/img13.jpg")
}

#index-gallery .img14 {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
    grid-area: img14;
    background-image: url("../img/thumbs/img14.jpg")
}

#index-gallery .img15 {
    -ms-grid-row: 9;
    -ms-grid-column: 5;
    grid-area: img15;
    background-image: url("../img/thumbs/img15.jpg")
}

#index-gallery .img16 {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
    grid-area: img16;
    background-image: url("../img/thumbs/img16.jpg")
}

#index-gallery .img17 {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
    grid-area: img17;
    background-image: url("../img/thumbs/img17.jpg")
}

#index-gallery .img18 {
    -ms-grid-row: 11;
    -ms-grid-column: 5;
    grid-area: img18;
    background-image: url("../img/thumbs/img18.jpg")
}

#index-gallery .img19 {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
    grid-area: img19;
    background-image: url("../img/thumbs/img19.jpg")
}

#index-gallery .img20 {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
    grid-area: img20;
    background-image: url("../img/thumbs/img20.jpg")
}

#index-gallery .img21 {
    -ms-grid-row: 13;
    -ms-grid-column: 5;
    grid-area: img21;
    background-image: url("../img/thumbs/img21.jpg")
}

#index-gallery .img22 {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
    grid-area: img22;
    background-image: url("../img/thumbs/img22.jpg")
}

#index-gallery .img23 {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
    grid-area: img23;
    background-image: url("../img/thumbs/img23.jpg")
}

#index-gallery .img24 {
    -ms-grid-row: 15;
    -ms-grid-column: 5;
    grid-area: img24;
    background-image: url("../img/thumbs/img24.jpg")
}

#index-gallery .img25 {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
    grid-area: img25;
    background-image: url("../img/thumbs/img25.jpg")
}

#index-gallery .img26 {
    -ms-grid-row: 17;
    -ms-grid-column: 3;
    grid-area: img26;
    background-image: url("../img/thumbs/img26.jpg")
}

#index-gallery .img27 {
    -ms-grid-row: 17;
    -ms-grid-column: 5;
    grid-area: img27;
    background-image: url("../img/thumbs/img17.jpg")
}

#index-gallery .img28 {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
    grid-area: img28;
    background-image: url("../img/thumbs/img28.jpg")
}

#index-gallery .img29 {
    -ms-grid-row: 19;
    -ms-grid-column: 3;
    grid-area: img29;
    background-image: url("../img/thumbs/img29.jpg")
}

#index-gallery .img30 {
    -ms-grid-row: 19;
    -ms-grid-column: 5;
    grid-area: img30;
    background-image: url("../img/thumbs/img30.jpg")
}

#index-gallery .img31 {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
    grid-area: img31;
    background-image: url("../img/thumbs/img31.jpg")
}

#index-gallery .img32 {
    -ms-grid-row: 21;
    -ms-grid-column: 3;
    grid-area: img32;
    background-image: url("../img/thumbs/img32.jpg")
}

#index-gallery .img33 {
    -ms-grid-row: 21;
    -ms-grid-column: 5;
    grid-area: img33;
    background-image: url("../img/thumbs/img33.jpg")
}

#index-gallery .img34 {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
    grid-area: img34;
    background-image: url("../img/thumbs/img34.jpg")
}

#index-gallery .img35 {
    -ms-grid-row: 23;
    -ms-grid-column: 3;
    grid-area: img35;
    background-image: url("../img/thumbs/img35.jpg")
}

#index-gallery .img36 {
    -ms-grid-row: 23;
    -ms-grid-column: 5;
    grid-area: img36;
    background-image: url("../img/thumbs/img36.jpg")
}

#index-gallery .img37 {
    -ms-grid-row: 25;
    -ms-grid-column: 1;
    grid-area: img37;
    background-image: url("../img/thumbs/img37.jpg")
}

#index-gallery .img38 {
    -ms-grid-row: 25;
    -ms-grid-column: 3;
    grid-area: img38;
    background-image: url("../img/thumbs/img38.jpg")
}

#index-gallery .img39 {
    -ms-grid-row: 25;
    -ms-grid-column: 5;
    grid-area: img39;
    background-image: url("../img/thumbs/img39.jpg")
}

#index-gallery .img40 {
    -ms-grid-row: 27;
    -ms-grid-column: 1;
    grid-area: img40;
    background-image: url("../img/thumbs/img40.jpg")
}

#index-gallery .img41 {
    -ms-grid-row: 27;
    -ms-grid-column: 3;
    grid-area: img41;
    background-image: url("../img/thumbs/img41.jpg")
}

#index-gallery .img42 {
    -ms-grid-row: 27;
    -ms-grid-column: 5;
    grid-area: img42;
    background-image: url("../img/thumbs/img42.jpg")
}

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms
}

.gallery-img a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase
}

.gallery-img div:hover {
    opacity: 0.6;
    -webkit-transition: all ease-in-out 200ms;
    transition: all ease-in-out 200ms;
    cursor: pointer
}

.img-window {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
    opacity: 0%;
    -webkit-transition: opacity ease-in-out 600ms;
    transition: opacity ease-in-out 600ms
}

.img-window img {
    width: auto;
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0%;
    -webkit-transition: opacity ease-in-out 600ms;
    transition: opacity ease-in-out 600ms
}

.img-btn-exit {
    display: block;
    float: right;
    padding: 15px 15px;
    position: fixed;
    bottom: 15px;
    left: 15px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    -webkit-transition: opacity ease-in-out 600ms;
    transition: opacity ease-in-out 600ms
}

.img-btn-next {
    display: block;
    padding: 15px 15px;
    position: fixed;
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    right: 8px;
    bottom: 15px;
    -webkit-transition: opacity ease-in-out 600ms;
    transition: opacity ease-in-out 600ms
}

.img-btn-next:hover {
    -webkit-transition: color ease-in-out 200ms;
    transition: color ease-in-out 200ms
}

.img-btn-prev {
    display: block;
    padding: 15px 15px;
    position: fixed;
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    right: 78px;
    bottom: 15px;
    -webkit-transition: opacity ease-in-out 600ms;
    transition: opacity ease-in-out 600ms
}

.img-btn-prev:hover {
    -webkit-transition: color ease-in-out 200ms;
    transition: color ease-in-out 200ms
}

@media only screen and (min-width:93.75rem) {
    #index-gallery {
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto;
        grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12" "img13 img14 img15" "img16 img17 img18" "img19 img20 img21" "img22 img23 img24" "img25 img26 img27" "img28 img29 img30" "img31 img32 img33" "img34 img35 img36" "img37 img38 img39" "img40 img41 img42"
    }

    #index-gallery .gallery-img {
        height: 40vh
    }

    #index-gallery .img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    #index-gallery .img2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    #index-gallery .img3 {
        -ms-grid-row: 1;
        -ms-grid-column: 5
    }

    #index-gallery .img4 {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    #index-gallery .img5 {
        -ms-grid-row: 3;
        -ms-grid-column: 3
    }

    #index-gallery .img6 {
        -ms-grid-row: 3;
        -ms-grid-column: 5
    }

    #index-gallery .img7 {
        -ms-grid-row: 5;
        -ms-grid-column: 1
    }

    #index-gallery .img8 {
        -ms-grid-row: 5;
        -ms-grid-column: 3
    }

    #index-gallery .img9 {
        -ms-grid-row: 5;
        -ms-grid-column: 5
    }

    #index-gallery .img10 {
        -ms-grid-row: 7;
        -ms-grid-column: 1
    }

    #index-gallery .img11 {
        -ms-grid-row: 7;
        -ms-grid-column: 3
    }

    #index-gallery .img12 {
        -ms-grid-row: 7;
        -ms-grid-column: 5
    }

    #index-gallery .img13 {
        -ms-grid-row: 9;
        -ms-grid-column: 1
    }

    #index-gallery .img14 {
        -ms-grid-row: 9;
        -ms-grid-column: 3
    }

    #index-gallery .img15 {
        -ms-grid-row: 9;
        -ms-grid-column: 5
    }

    #index-gallery .img16 {
        -ms-grid-row: 11;
        -ms-grid-column: 1
    }

    #index-gallery .img17 {
        -ms-grid-row: 11;
        -ms-grid-column: 3
    }

    #index-gallery .img18 {
        -ms-grid-row: 11;
        -ms-grid-column: 5
    }

    #index-gallery .img19 {
        -ms-grid-row: 13;
        -ms-grid-column: 1
    }

    #index-gallery .img20 {
        -ms-grid-row: 13;
        -ms-grid-column: 3
    }

    #index-gallery .img21 {
        -ms-grid-row: 13;
        -ms-grid-column: 5
    }

    #index-gallery .img22 {
        -ms-grid-row: 15;
        -ms-grid-column: 1
    }

    #index-gallery .img23 {
        -ms-grid-row: 15;
        -ms-grid-column: 3
    }

    #index-gallery .img24 {
        -ms-grid-row: 15;
        -ms-grid-column: 5
    }

    #index-gallery .img25 {
        -ms-grid-row: 17;
        -ms-grid-column: 1
    }

    #index-gallery .img26 {
        -ms-grid-row: 17;
        -ms-grid-column: 3
    }

    #index-gallery .img27 {
        -ms-grid-row: 17;
        -ms-grid-column: 5
    }

    #index-gallery .img28 {
        -ms-grid-row: 19;
        -ms-grid-column: 1
    }

    #index-gallery .img29 {
        -ms-grid-row: 19;
        -ms-grid-column: 3
    }

    #index-gallery .img30 {
        -ms-grid-row: 19;
        -ms-grid-column: 5
    }

    #index-gallery .img31 {
        -ms-grid-row: 21;
        -ms-grid-column: 1
    }

    #index-gallery .img32 {
        -ms-grid-row: 21;
        -ms-grid-column: 3
    }

    #index-gallery .img33 {
        -ms-grid-row: 21;
        -ms-grid-column: 5
    }

    #index-gallery .img34 {
        -ms-grid-row: 23;
        -ms-grid-column: 1
    }

    #index-gallery .img35 {
        -ms-grid-row: 23;
        -ms-grid-column: 3
    }

    #index-gallery .img36 {
        -ms-grid-row: 23;
        -ms-grid-column: 5
    }

    #index-gallery .img37 {
        -ms-grid-row: 25;
        -ms-grid-column: 1
    }

    #index-gallery .img38 {
        -ms-grid-row: 25;
        -ms-grid-column: 3
    }

    #index-gallery .img39 {
        -ms-grid-row: 25;
        -ms-grid-column: 5
    }

    #index-gallery .img40 {
        -ms-grid-row: 27;
        -ms-grid-column: 1
    }

    #index-gallery .img41 {
        -ms-grid-row: 27;
        -ms-grid-column: 3
    }

    #index-gallery .img42 {
        -ms-grid-row: 27;
        -ms-grid-column: 5
    }
}

@media only screen and (min-width:62rem) and (max-width:93.75rem) {
    #index-gallery {
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto;
        grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12" "img13 img14 img15" "img16 img17 img18" "img19 img20 img21" "img22 img23 img24" "img25 img26 img27" "img28 img29 img30" "img31 img32 img33" "img34 img35 img36" "img37 img38 img39" "img40 img41 img42"
    }

    #index-gallery .gallery-img {
        height: 300px
    }

    #index-gallery .img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    #index-gallery .img2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    #index-gallery .img3 {
        -ms-grid-row: 1;
        -ms-grid-column: 5
    }

    #index-gallery .img4 {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    #index-gallery .img5 {
        -ms-grid-row: 3;
        -ms-grid-column: 3
    }

    #index-gallery .img6 {
        -ms-grid-row: 3;
        -ms-grid-column: 5
    }

    #index-gallery .img7 {
        -ms-grid-row: 5;
        -ms-grid-column: 1
    }

    #index-gallery .img8 {
        -ms-grid-row: 5;
        -ms-grid-column: 3
    }

    #index-gallery .img9 {
        -ms-grid-row: 5;
        -ms-grid-column: 5
    }

    #index-gallery .img10 {
        -ms-grid-row: 7;
        -ms-grid-column: 1
    }

    #index-gallery .img11 {
        -ms-grid-row: 7;
        -ms-grid-column: 3
    }

    #index-gallery .img12 {
        -ms-grid-row: 7;
        -ms-grid-column: 5
    }

    #index-gallery .img13 {
        -ms-grid-row: 9;
        -ms-grid-column: 1
    }

    #index-gallery .img14 {
        -ms-grid-row: 9;
        -ms-grid-column: 3
    }

    #index-gallery .img15 {
        -ms-grid-row: 9;
        -ms-grid-column: 5
    }

    #index-gallery .img16 {
        -ms-grid-row: 11;
        -ms-grid-column: 1
    }

    #index-gallery .img17 {
        -ms-grid-row: 11;
        -ms-grid-column: 3
    }

    #index-gallery .img18 {
        -ms-grid-row: 11;
        -ms-grid-column: 5
    }

    #index-gallery .img19 {
        -ms-grid-row: 13;
        -ms-grid-column: 1
    }

    #index-gallery .img20 {
        -ms-grid-row: 13;
        -ms-grid-column: 3
    }

    #index-gallery .img21 {
        -ms-grid-row: 13;
        -ms-grid-column: 5
    }

    #index-gallery .img22 {
        -ms-grid-row: 15;
        -ms-grid-column: 1
    }

    #index-gallery .img23 {
        -ms-grid-row: 15;
        -ms-grid-column: 3
    }

    #index-gallery .img24 {
        -ms-grid-row: 15;
        -ms-grid-column: 5
    }

    #index-gallery .img25 {
        -ms-grid-row: 17;
        -ms-grid-column: 1
    }

    #index-gallery .img26 {
        -ms-grid-row: 17;
        -ms-grid-column: 3
    }

    #index-gallery .img27 {
        -ms-grid-row: 17;
        -ms-grid-column: 5
    }

    #index-gallery .img28 {
        -ms-grid-row: 19;
        -ms-grid-column: 1
    }

    #index-gallery .img29 {
        -ms-grid-row: 19;
        -ms-grid-column: 3
    }

    #index-gallery .img30 {
        -ms-grid-row: 19;
        -ms-grid-column: 5
    }

    #index-gallery .img31 {
        -ms-grid-row: 21;
        -ms-grid-column: 1
    }

    #index-gallery .img32 {
        -ms-grid-row: 21;
        -ms-grid-column: 3
    }

    #index-gallery .img33 {
        -ms-grid-row: 21;
        -ms-grid-column: 5
    }

    #index-gallery .img34 {
        -ms-grid-row: 23;
        -ms-grid-column: 1
    }

    #index-gallery .img35 {
        -ms-grid-row: 23;
        -ms-grid-column: 3
    }

    #index-gallery .img36 {
        -ms-grid-row: 23;
        -ms-grid-column: 5
    }

    #index-gallery .img37 {
        -ms-grid-row: 25;
        -ms-grid-column: 1
    }

    #index-gallery .img38 {
        -ms-grid-row: 25;
        -ms-grid-column: 3
    }

    #index-gallery .img39 {
        -ms-grid-row: 25;
        -ms-grid-column: 5
    }

    #index-gallery .img40 {
        -ms-grid-row: 27;
        -ms-grid-column: 1
    }

    #index-gallery .img41 {
        -ms-grid-row: 27;
        -ms-grid-column: 3
    }

    #index-gallery .img42 {
        -ms-grid-row: 27;
        -ms-grid-column: 5
    }
}

@media only screen and (min-width:48rem) and (max-width:62rem) {
    #index-gallery {
        -ms-grid-columns: 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto;
        grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8" "img9 img10" "img11 img12" "img13 img14" "img15 img16" "img17 img18" "img19 img20" "img21 img22" "img23 img24" "img25 img26" "img27 img28" "img29 img30" "img31 img32" "img33 img34" "img35 img36" "img37 img38" "img39 img40" "img41 img42"
    }

    #index-gallery .gallery-img {
        height: 300px
    }

    #index-gallery .img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    #index-gallery .img2 {
        -ms-grid-row: 1;
        -ms-grid-column: 3
    }

    #index-gallery .img3 {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    #index-gallery .img4 {
        -ms-grid-row: 3;
        -ms-grid-column: 3
    }

    #index-gallery .img5 {
        -ms-grid-row: 5;
        -ms-grid-column: 1
    }

    #index-gallery .img6 {
        -ms-grid-row: 5;
        -ms-grid-column: 3
    }

    #index-gallery .img7 {
        -ms-grid-row: 7;
        -ms-grid-column: 1
    }

    #index-gallery .img8 {
        -ms-grid-row: 7;
        -ms-grid-column: 3
    }

    #index-gallery .img9 {
        -ms-grid-row: 9;
        -ms-grid-column: 1
    }

    #index-gallery .img10 {
        -ms-grid-row: 9;
        -ms-grid-column: 3
    }

    #index-gallery .img11 {
        -ms-grid-row: 11;
        -ms-grid-column: 1
    }

    #index-gallery .img12 {
        -ms-grid-row: 11;
        -ms-grid-column: 3
    }

    #index-gallery .img13 {
        -ms-grid-row: 13;
        -ms-grid-column: 1
    }

    #index-gallery .img14 {
        -ms-grid-row: 13;
        -ms-grid-column: 3
    }

    #index-gallery .img15 {
        -ms-grid-row: 15;
        -ms-grid-column: 1
    }

    #index-gallery .img16 {
        -ms-grid-row: 15;
        -ms-grid-column: 3
    }

    #index-gallery .img17 {
        -ms-grid-row: 17;
        -ms-grid-column: 1
    }

    #index-gallery .img18 {
        -ms-grid-row: 17;
        -ms-grid-column: 3
    }

    #index-gallery .img19 {
        -ms-grid-row: 19;
        -ms-grid-column: 1
    }

    #index-gallery .img20 {
        -ms-grid-row: 19;
        -ms-grid-column: 3
    }

    #index-gallery .img21 {
        -ms-grid-row: 21;
        -ms-grid-column: 1
    }

    #index-gallery .img22 {
        -ms-grid-row: 21;
        -ms-grid-column: 3
    }

    #index-gallery .img23 {
        -ms-grid-row: 23;
        -ms-grid-column: 1
    }

    #index-gallery .img24 {
        -ms-grid-row: 23;
        -ms-grid-column: 3
    }

    #index-gallery .img25 {
        -ms-grid-row: 25;
        -ms-grid-column: 1
    }

    #index-gallery .img26 {
        -ms-grid-row: 25;
        -ms-grid-column: 3
    }

    #index-gallery .img27 {
        -ms-grid-row: 27;
        -ms-grid-column: 1
    }

    #index-gallery .img28 {
        -ms-grid-row: 27;
        -ms-grid-column: 3
    }

    #index-gallery .img29 {
        -ms-grid-row: 29;
        -ms-grid-column: 1
    }

    #index-gallery .img30 {
        -ms-grid-row: 29;
        -ms-grid-column: 3
    }

    #index-gallery .img31 {
        -ms-grid-row: 31;
        -ms-grid-column: 1
    }

    #index-gallery .img32 {
        -ms-grid-row: 31;
        -ms-grid-column: 3
    }

    #index-gallery .img33 {
        -ms-grid-row: 33;
        -ms-grid-column: 1
    }

    #index-gallery .img34 {
        -ms-grid-row: 33;
        -ms-grid-column: 3
    }

    #index-gallery .img35 {
        -ms-grid-row: 35;
        -ms-grid-column: 1
    }

    #index-gallery .img36 {
        -ms-grid-row: 35;
        -ms-grid-column: 3
    }

    #index-gallery .img37 {
        -ms-grid-row: 37;
        -ms-grid-column: 1
    }

    #index-gallery .img38 {
        -ms-grid-row: 37;
        -ms-grid-column: 3
    }

    #index-gallery .img39 {
        -ms-grid-row: 39;
        -ms-grid-column: 1
    }

    #index-gallery .img40 {
        -ms-grid-row: 39;
        -ms-grid-column: 3
    }

    #index-gallery .img41 {
        -ms-grid-row: 41;
        -ms-grid-column: 1
    }

    #index-gallery .img42 {
        -ms-grid-row: 41;
        -ms-grid-column: 3
    }
}

@media only screen and (max-width:48rem) {
    #index-gallery {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto 15px auto;
        grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10" "img11" "img12" "img13" "img14" "img15" "img16" "img17" "img18" "img19" "img20" "img21" "img22" "img23" "img24" "img25" "img26" "img27" "img28" "img29" "img30" "img31" "img32" "img33" "img34" "img35" "img36" "img37" "img38" "img39" "img40" "img41" "img42"
    }

    #index-gallery .gallery-img {
        height: 300px
    }

    #index-gallery .img1 {
        -ms-grid-row: 1;
        -ms-grid-column: 1
    }

    #index-gallery .img2 {
        -ms-grid-row: 3;
        -ms-grid-column: 1
    }

    #index-gallery .img3 {
        -ms-grid-row: 5;
        -ms-grid-column: 1
    }

    #index-gallery .img4 {
        -ms-grid-row: 7;
        -ms-grid-column: 1
    }

    #index-gallery .img5 {
        -ms-grid-row: 9;
        -ms-grid-column: 1
    }

    #index-gallery .img6 {
        -ms-grid-row: 11;
        -ms-grid-column: 1
    }

    #index-gallery .img7 {
        -ms-grid-row: 13;
        -ms-grid-column: 1
    }

    #index-gallery .img8 {
        -ms-grid-row: 15;
        -ms-grid-column: 1
    }

    #index-gallery .img9 {
        -ms-grid-row: 17;
        -ms-grid-column: 1
    }

    #index-gallery .img10 {
        -ms-grid-row: 19;
        -ms-grid-column: 1
    }

    #index-gallery .img11 {
        -ms-grid-row: 21;
        -ms-grid-column: 1
    }

    #index-gallery .img12 {
        -ms-grid-row: 23;
        -ms-grid-column: 1
    }

    #index-gallery .img13 {
        -ms-grid-row: 25;
        -ms-grid-column: 1
    }

    #index-gallery .img14 {
        -ms-grid-row: 27;
        -ms-grid-column: 1
    }

    #index-gallery .img15 {
        -ms-grid-row: 29;
        -ms-grid-column: 1
    }

    #index-gallery .img16 {
        -ms-grid-row: 31;
        -ms-grid-column: 1
    }

    #index-gallery .img17 {
        -ms-grid-row: 33;
        -ms-grid-column: 1
    }

    #index-gallery .img18 {
        -ms-grid-row: 35;
        -ms-grid-column: 1
    }

    #index-gallery .img19 {
        -ms-grid-row: 37;
        -ms-grid-column: 1
    }

    #index-gallery .img20 {
        -ms-grid-row: 39;
        -ms-grid-column: 1
    }

    #index-gallery .img21 {
        -ms-grid-row: 41;
        -ms-grid-column: 1
    }

    #index-gallery .img22 {
        -ms-grid-row: 43;
        -ms-grid-column: 1
    }

    #index-gallery .img23 {
        -ms-grid-row: 45;
        -ms-grid-column: 1
    }

    #index-gallery .img24 {
        -ms-grid-row: 47;
        -ms-grid-column: 1
    }

    #index-gallery .img25 {
        -ms-grid-row: 49;
        -ms-grid-column: 1
    }

    #index-gallery .img26 {
        -ms-grid-row: 51;
        -ms-grid-column: 1
    }

    #index-gallery .img27 {
        -ms-grid-row: 53;
        -ms-grid-column: 1
    }

    #index-gallery .img28 {
        -ms-grid-row: 55;
        -ms-grid-column: 1
    }

    #index-gallery .img29 {
        -ms-grid-row: 57;
        -ms-grid-column: 1
    }

    #index-gallery .img30 {
        -ms-grid-row: 59;
        -ms-grid-column: 1
    }

    #index-gallery .img31 {
        -ms-grid-row: 61;
        -ms-grid-column: 1
    }

    #index-gallery .img32 {
        -ms-grid-row: 63;
        -ms-grid-column: 1
    }

    #index-gallery .img33 {
        -ms-grid-row: 65;
        -ms-grid-column: 1
    }

    #index-gallery .img34 {
        -ms-grid-row: 67;
        -ms-grid-column: 1
    }

    #index-gallery .img35 {
        -ms-grid-row: 69;
        -ms-grid-column: 1
    }

    #index-gallery .img36 {
        -ms-grid-row: 71;
        -ms-grid-column: 1
    }

    #index-gallery .img37 {
        -ms-grid-row: 73;
        -ms-grid-column: 1
    }

    #index-gallery .img38 {
        -ms-grid-row: 75;
        -ms-grid-column: 1
    }

    #index-gallery .img39 {
        -ms-grid-row: 77;
        -ms-grid-column: 1
    }

    #index-gallery .img40 {
        -ms-grid-row: 79;
        -ms-grid-column: 1
    }

    #index-gallery .img41 {
        -ms-grid-row: 81;
        -ms-grid-column: 1
    }

    #index-gallery .img42 {
        -ms-grid-row: 83;
        -ms-grid-column: 1
    }
}