/* IMPORTED FONTS */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Syncopate', sans-serif; */

#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 

    "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12"
    "img13 img14 img15"
    "img16 img17 img18"
    "img19 img20 img21"
    "img22 img23 img24"
    "img25 img26 img27"
    "img28 img29 img30"
    "img31 img32 img33"
    "img34 img35 img36"
    "img37 img38 img39"
    "img40 img41 img42";

}

#index-gallery .gallery-img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#index-gallery .img1{
    grid-area: img1;
    background-image: url("../img/thumbs/img1.jpg");
}
#index-gallery .img2{
    grid-area: img2;
    background-image: url("../img/thumbs/img2.jpg");
}
#index-gallery .img3{
    grid-area: img3;
    background-image: url("../img/thumbs/img3.jpg");
}
#index-gallery .img4{
    grid-area: img4;
    background-image: url("../img/thumbs/img4.jpg");
}
#index-gallery .img5{
    grid-area: img5;
    background-image: url("../img/thumbs/img5.jpg");
}
#index-gallery .img6{
    grid-area: img6;
    background-image: url("../img/thumbs/img6.jpg");
}
#index-gallery .img7{
    grid-area: img7;
    background-image: url("../img/thumbs/img7.jpg");
}
#index-gallery .img8{
    grid-area: img8;
    background-image: url("../img/thumbs/img8.jpg");
}
#index-gallery .img9{
    grid-area: img9;
    background-image: url("../img/thumbs/img9.jpg");
}
#index-gallery .img10{
    grid-area: img10;
    background-image: url("../img/thumbs/img10.jpg");
}
#index-gallery .img11{
    grid-area: img11;
    background-image: url("../img/thumbs/img11.jpg");
}
#index-gallery .img12{
    grid-area: img12;
    background-image: url("../img/thumbs/img12.jpg");
}
#index-gallery .img13{
    grid-area: img13;
    background-image: url("../img/thumbs/img13.jpg");
}
#index-gallery .img14{
    grid-area: img14;
    background-image: url("../img/thumbs/img14.jpg");
}
#index-gallery .img15{
    grid-area: img15;
    background-image: url("../img/thumbs/img15.jpg");
}
#index-gallery .img16{
    grid-area: img16;
    background-image: url("../img/thumbs/img16.jpg");
}
#index-gallery .img17{
    grid-area: img17;
    background-image: url("../img/thumbs/img17.jpg");
}
#index-gallery .img18{
    grid-area: img18;
    background-image: url("../img/thumbs/img18.jpg");
}
#index-gallery .img19{
    grid-area: img19;
    background-image: url("../img/thumbs/img19.jpg");
}
#index-gallery .img20{
    grid-area: img20;
    background-image: url("../img/thumbs/img20.jpg");
}
#index-gallery .img21{
    grid-area: img21;
    background-image: url("../img/thumbs/img21.jpg");
}
#index-gallery .img22{
    grid-area: img22;
    background-image: url("../img/thumbs/img22.jpg");
}
#index-gallery .img23{
    grid-area: img23;
    background-image: url("../img/thumbs/img23.jpg");
}
#index-gallery .img24{
    grid-area: img24;
    background-image: url("../img/thumbs/img24.jpg");
}
#index-gallery .img25{
    grid-area: img25;
    background-image: url("../img/thumbs/img25.jpg");
}
#index-gallery .img26{
    grid-area: img26;
    background-image: url("../img/thumbs/img26.jpg");
}
#index-gallery .img27{
    grid-area: img27;
    background-image: url("../img/thumbs/img17.jpg");
}
#index-gallery .img28{
    grid-area: img28;
    background-image: url("../img/thumbs/img28.jpg");
}
#index-gallery .img29{
    grid-area: img29;
    background-image: url("../img/thumbs/img29.jpg");
}
#index-gallery .img30{
    grid-area: img30;
    background-image: url("../img/thumbs/img30.jpg");
}
#index-gallery .img31{
    grid-area: img31;
    background-image: url("../img/thumbs/img31.jpg");
}
#index-gallery .img32{
    grid-area: img32;
    background-image: url("../img/thumbs/img32.jpg");
}
#index-gallery .img33{
    grid-area: img33;
    background-image: url("../img/thumbs/img33.jpg");
}
#index-gallery .img34{
    grid-area: img34;
    background-image: url("../img/thumbs/img34.jpg");
}
#index-gallery .img35{
    grid-area: img35;
    background-image: url("../img/thumbs/img35.jpg");
}
#index-gallery .img36{
    grid-area: img36;
    background-image: url("../img/thumbs/img36.jpg");
}
#index-gallery .img37{
    grid-area: img37;
    background-image: url("../img/thumbs/img37.jpg");
}
#index-gallery .img38{
    grid-area: img38;
    background-image: url("../img/thumbs/img38.jpg");
}
#index-gallery .img39{
    grid-area: img39;
    background-image: url("../img/thumbs/img39.jpg");
}
#index-gallery .img40{
    grid-area: img40;
    background-image: url("../img/thumbs/img40.jpg");
}
#index-gallery .img41{
    grid-area: img41;
    background-image: url("../img/thumbs/img41.jpg");
}
#index-gallery .img42{
    grid-area: img42;
    background-image: url("../img/thumbs/img42.jpg");
}

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 200ms;
}

.gallery-img a {
    font-family: 'Josefin Sans', sans-serif;;
    font-size: 16px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery-img div:hover {
    opacity: 0.6;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0%;
    transition: opacity ease-in-out 600ms;
}

.img-window img {
    max-width: 80vw;
    max-height: 80vh;
    opacity: 0%;
    transition: opacity ease-in-out 600ms;
}

.img-btn-exit {
    display: block;
    float: right;
    padding: 10px 10px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    transition: opacity ease-in-out 600ms;
}

.img-btn-next {
    display: block;
    padding: 15px 15px;
    position: fixed;
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    right: 20px;
    bottom: 85px;
    transition: opacity ease-in-out 600ms;
}

.img-btn-next:hover {
    transition: color ease-in-out 200ms;
}


.img-btn-prev {
    display: block;
    padding: 15px 15px;
    position: fixed;
    z-index: 500;
    font-family: 'Syncopate', sans-serif;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    opacity: 0%;
    right: 20px;
    bottom: 15px;
    transition: opacity ease-in-out 600ms;
}

.img-btn-prev:hover {
    transition: color ease-in-out 200ms;
}

@media only screen and (min-width: 1400px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 

        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
        "img10 img11 img12"
        "img13 img14 img15"
        "img16 img17 img18"
        "img19 img20 img21"
        "img22 img23 img24"
        "img25 img26 img27"
        "img28 img29 img30"
        "img31 img32 img33"
        "img34 img35 img36"
        "img37 img38 img39"
        "img40 img41 img42";
    }

    #index-gallery .gallery-img{
        height: 500px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1399px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 

        "img1 img2 img3"
        "img4 img5 img6"
        "img7 img8 img9"
        "img10 img11 img12"
        "img13 img14 img15"
        "img16 img17 img18"
        "img19 img20 img21"
        "img22 img23 img24"
        "img25 img26 img27"
        "img28 img29 img30"
        "img31 img32 img33"
        "img34 img35 img36"
        "img37 img38 img39"
        "img40 img41 img42";
    }

    #index-gallery .gallery-img{
        height: 300px;
    }
}

/* mdDevices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 

        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10"
        "img11 img12"
        "img13 img14"
        "img15 img16"
        "img17 img18"
        "img19 img20"
        "img21 img22"
        "img23 img24"
        "img25 img26"
        "img27 img28"
        "img29 img30"
        "img31 img32"
        "img33 img34"
        "img35 img36"
        "img37 img38"
        "img39 img40"
        "img41 img42";
    }
    
    #index-gallery .gallery-img{
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    #index-gallery {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9"
        "img10"
        "img11"
        "img12"
        "img13"
        "img14"
        "img15"
        "img16"
        "img17"
        "img18"
        "img19"
        "img20"
        "img21"
        "img22"
        "img23"
        "img24"
        "img25"
        "img26"
        "img27"
        "img28"
        "img29"
        "img30"
        "img31"
        "img32"
        "img33"
        "img34"
        "img35"
        "img36"
        "img37"
        "img38"
        "img39"
        "img40"
        "img41"
        "img42";
    }
    
    #index-gallery .gallery-img{
        height: 300px;
    }
}