/* LARGE DEVICES STYLESHEET (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1001px) and (max-width: 1399px) {

    #header-space {
        width: 50%;
    }

    #footer-container {
        flex-direction: column;
    }

    #footer-text {
        text-align: center;
        padding-bottom: 20px;
    }
    
    #footer-links{
        display: none;
    }

    .socials {
        flex-direction: column;
    }

} 

/* EXTRA LARGE SCREENS */
@media only screen and (min-width: 1400px) {
    
    #welcome {
        padding: 28vh 8%;
    }

}