/* Gallery Container */
/* KEYNOTES */
/* remember, if you are doing vertical columns, you have to redefine the height because it will just go to the default */

/* gallery-img is the default styling
img # is the specific styling for each image */

/* IMPORTED FONTS */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Syncopate', sans-serif; */

#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 
    /* "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2" */
    "img1 img2"
    "img3 img4"
    "img5 img6"
    "img7 img8"
    "img9 img10";
    /* "img9 img10 img10"; */
    /*how its layed out in the website*/
}

#index-gallery .gallery-img{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/*images*/
/* #index-gallery p{
    grid-area: gallery-p;
}

#index-gallery h2{
    grid-area: gallery-h2;
} */

#index-gallery .img1{
    grid-area: img1;
    background-image: url("../img/projects/usual.jpg");
}
#index-gallery .img2{
    grid-area: img2;
    background-image: url("../img/projects/bctfa.jpg");
}
#index-gallery .img3{
    grid-area: img3;
    background-image: url("../img/projects/cs.jpg");
     /*because we are taking account into the gap as well*/
}
#index-gallery .img4{
    grid-area: img4;
    background-image: url("../img/projects/lamp.jpg");
}
#index-gallery .img5{
    grid-area: img5;
    background-image: url("../img/projects/chair.jpg");
}

#index-gallery .img6{
    grid-area: img6;
    background-image: url("../img/projects/fsf1.jpg");
}

#index-gallery .img7{
    grid-area: img7;
    background-image: url("../img/projects/synaesthetic.jpg");
}

#index-gallery .img8{
    grid-area: img8;
    background-image: url("../img/projects/sheconnects.jpg");
}

#index-gallery .img9{
    grid-area: img9;
    background-image: url("../img/projects/hnac.jpg");
}

#index-gallery .img10{
    grid-area: img10;
    background-image: url("../img/projects/alessi.jpg");
}

/*Gallery image titles*/
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms;
}

.gallery-img a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    /* display: none; */
    /* idk if i want to turn it off but yeah just uncomment */
}

.gallery-img p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    text-transform: none;
    padding-top: 20px;
    text-align: center;
    /* display: none; */
    /* idk if i want to turn it off but yeah just uncomment */
}

.gallery-img div:hover {
    opacity: 0.75;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}


/* MEDIA QUERIES */

/* lgDevices */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 15px; */
        grid-template-areas: 
        /* "gallery-p"
        "gallery-h2" */
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10";
        /*how its layed out in the website*/
    }
    
    /* has to be restated everytime the layout changes */
    #index-gallery .gallery-img{
        height: 300px;
    }

/*Next Image*/
/* .img-btn-next {
    top: 0px;
    left: 80vw;
} */

/*Prev Image*/
/* .img-btn-prev {
    top: 0px;
    left: 15vw;
} */
}

/* mdDevices */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        /* grid-gap: 15px; */
        grid-template-areas: 
        /* "gallery-p"
        "gallery-h2" */
        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10";
        /*how its layed out in the website*/
    }
    
    /* has to be restated everytime the layout changes */
    #index-gallery .gallery-img{
        height: 300px;
    }

/*Next Image*/
/* .img-btn-next {
    top: 0px;
    left: 80vw;
} */

/*Prev Image*/
/* .img-btn-prev {
    top: 0px;
    left: 15vw;
} */
}

/* xsm and smDevices */
@media only screen and (max-width: 767px) {
    #index-gallery {
        grid-template-columns: 1fr;
        /* grid-gap: 10px; */
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9"
        "img10";
        /*how its layed out in the website*/
    }
    
    /* has to be restated everytime the layout changes */
    #index-gallery .gallery-img{
        height: 300px;
    }

    /*Next Image*/
    /* .img-btn-next {
        top: 0px;
        left: 80vw;
    } */
    
    /*Prev Image*/
    /* .img-btn-prev {
        top: 0px;
        left: 15vw;
    } */
}