/* Gallery Container */
/* KEYNOTES */
/* remember, if you are doing vertical columns, you have to redefine the height because it will just go to the default */

/* gallery-img is the default styling
img # is the specific styling for each image */

/* IMPORTED FONTS */
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Syncopate', sans-serif; */

#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 15px;
    grid-template-areas: 

    "img1 img2"
    "img3 img4"
    "img5 img6"
    "img7 img8"
    "img9 img10";
}

#index-gallery .gallery-img{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

#index-gallery .img1{
    grid-area: img1;
    background-image: url("../img/projects/usual.jpg");
}
#index-gallery .img2{
    grid-area: img2;
    background-image: url("../img/projects/bctfa.jpg");
}
#index-gallery .img3{
    grid-area: img3;
    background-image: url("../img/projects/cs.jpg");
}
#index-gallery .img4{
    grid-area: img4;
    background-image: url("../img/projects/lamp.jpg");
}
#index-gallery .img5{
    grid-area: img5;
    background-image: url("../img/projects/chair.jpg");
}

#index-gallery .img6{
    grid-area: img6;
    background-image: url("../img/projects/fsf1.jpg");
}

#index-gallery .img7{
    grid-area: img7;
    background-image: url("../img/projects/synaesthetic.jpg");
}

#index-gallery .img8{
    grid-area: img8;
    background-image: url("../img/projects/sheconnects.jpg");
}

#index-gallery .img9{
    grid-area: img9;
    background-image: url("../img/projects/hnac.jpg");
}

#index-gallery .img10{
    grid-area: img10;
    background-image: url("../img/projects/alessi.jpg");
}

.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 300ms;
}

.gallery-img a {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    padding: 15vh 10vw;
}

@media only screen and (max-width: 991px) {
    .gallery-img a {
        padding: 4vh 4vw;
    }
}

.gallery-img a h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}

.gallery-img p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-decoration: none;
    text-transform: none;
    padding-top: 20px;
    text-align: center;
}

.gallery-img div:hover {
    opacity: 0.75;
    transition: all ease-in-out 300ms;
    cursor: pointer;
}

@media only screen and (min-width: 1001px) and (max-width: 1199px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 

        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10";

    }
    
    #index-gallery .gallery-img{
        height: 300px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1000px) {
    #index-gallery {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 

        "img1 img2"
        "img3 img4"
        "img5 img6"
        "img7 img8"
        "img9 img10";
    }
    

    #index-gallery .gallery-img{
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    #index-gallery {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6"
        "img7"
        "img8"
        "img9"
        "img10";
    }
    
    #index-gallery .gallery-img{
        height: 300px;
    }
}