* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --background: #fdfdfd;
    --lightPurple: #9e8eb3;
    /* --darkPurple: #6a5a7e; */
    --darkPurple: #554864;
    --faintPurple: #dcdcee;
    --black: #000000;
    --offBlack: #1a1a1a;
    --offWhite: #e0e0e0;
    --link: #9a84b8;
}

.grid {
    display: grid;
}

.tlc-logo {
    width: auto;
    height: auto;
    transition: all 0.4s ease-in-out;
}

#logo {
    width: 3rem;
    height: 3rem;
}

header {
    height: 20vh;
    display: flex;
    position: sticky;
    top: 0;
    padding: 2.5rem 2rem;
    background-color: var(--background);
    align-items: center;
    width: 100vw;
    z-index: 2;
}

.content-container,
.content-container-header {
    padding-left: 2rem;
    padding-right: 2rem;
}

.content-container,
#project-title {
    animation: transitionIn 1s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* MENU */

button {
    width: 1.8rem;
    height: 1.8rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    float: right;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}

.tlc-logo:hover,
.tlc-logo:focus,
button:focus,
button:hover {
    filter: invert(37%) sepia(10%) saturate(1240%) hue-rotate(224deg) brightness(97%) contrast(91%);
    transition: all 0.3s ease-in-out;
}

button:hover,
button:focus {
    cursor: pointer;
}

button:target {
    transition: all 0.3s ease-in-out;
}

button:target {
    filter: invert(0) sepia(0) saturate(0) hue-rotate(0) brightness(0);
    transition: all 0.3s ease-in-out;
}

.button-rotate {
    -webkit-transform: translateZ(45deg);
    -moz-transform: translateZ(45deg);
    -o-transform: translateZ(45deg);
    transform: rotateZ(45deg);
    transition: all 0.6s ease-in-out;
}

.button-rotate-exit {
    -webkit-transform: translateZ(0deg);
    -moz-transform: translateZ(0deg);
    -o-transform: translateZ(0deg);
    transform: rotateZ(0deg);
    transition: all 0.6s ease-in-out;
}

.main-menu {
    display: block;
    position: fixed;
    right: 0;
    width: 8.5rem;
    min-height: 90vh;
    max-height: 100vh;
    background-color: var(--darkPurple);
    transition: all 0.6s ease-in-out;
    z-index: 2;
}

.menu-item {
    margin: 3rem 1.6rem 3rem 0;
    text-align: right;
    background-color: none;
    transition: all 0.75s ease-in-out;
    opacity: 100%;
}

.menu-item a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    line-height: 1.2;
}

.menu-item a:hover,
.menu-item a:focus {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 0.6s ease-in-out
}

.hidden {
    min-height: 0;
    max-height: 0;
    transition: all 0.6s ease-in-out;
}

.hidden-menu-item {
    opacity: 0%;
    transition: all 0.3s ease-in-out;
}

.hidden-menu-item-remove {
    display: none;
    transition-delay: 0.6s;
}

.extra-space {
    margin-bottom: 4rem;
}


/* FOOTER */

footer {
    padding: 2.5rem 2rem;
    background-color: var(--offBlack);
    width: 100vw;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
    color: white;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    line-height: 1.2;
}

.main-banner {
    height: 80vh;
    width: 100vw;
    padding: 25vh 2rem;
    text-align: center;
}

.main-banner-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 0.5rem;
}

@media only screen and (min-width: 38.5rem) and (max-width: 70rem) {
    .main-banner-content {
        text-align: left;
        padding-left: 2rem;
        padding-right: 1rem;
        margin-right: 20vw;
    }
}

@media only screen and (min-width: 70rem) {
    .main-banner-content {
        text-align: left;
        padding-left: 2rem;
        padding-right: 1rem;
        margin-right: 40vw;
    }
}

.main-banner h1 {
    margin: 0;
}

.banner {
    background-color: var(--offBlack);
    width: 100vw;
    padding: 2rem 2rem;
    text-align: left;
}

.banner h1 {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 3rem;
    letter-spacing: 1px;
}

.no-display {
    display: none;
}


/* FONTS */

h1 {
    color: black;
    font-family: 'mr-eaves-xl-modern', sans-serif;
    font-weight: normal;
    /* font-variant-caps: all-small-caps; */
    font-size: 2rem;
    line-height: 2;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: normal;
    line-height: 1.4;
    color: white;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
}

p {
    color: black;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

p a {
    color: var(--link);
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

p a:hover,
p a:focus {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    transition: all 0.3s ease-in-out;
}

.italic {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
    width: 100%;
}


/* SMALL DEVICES STYLESHEET (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 23rem) and (max-width: 48rem) {
    .content-container,
    .content-container-header {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .main-menu {
        width: 8.25rem;
    }
}

@media only screen and (min-width: 48rem) {
    .content-container,
    .content-container-header {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .main-menu {
        width: 10.5rem;
    }
    .menu-item {
        margin: 2.5rem 1.6rem 2.5rem 0;
    }
    .menu-item a {
        font-size: 1.2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 3rem;
    }
    #about-title {
        font-size: 3rem;
    }
    /* .main-banner {
        padding-left: 10rem;
        padding-right: 10rem;
    } */
}

@media only screen and (max-height: 31rem) and (min-width: 40rem) {
    .main-menu {
        position: relative;
        display: flex;
        min-height: 10vh;
        justify-content: center;
        width: 100vw;
        align-items: center;
    }
    .menu-item {
        margin-left: 2rem;
        margin-right: 2rem;
        height: 8.5vh;
    }
    .hidden {
        min-height: 0;
    }
}

@media only screen and (max-height: 31rem) {
    header {
        position: relative;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .main-banner {
        height: 26rem;
    }
}

@media only screen and (min-height: 62.5rem) {
    header {
        height: 15vh;
    }
    .main-banner {
        padding: 32vh 4rem;
        height: 85vh;
    }
}

@media only screen and (min-height: 80rem) {
    header {
        height: 10vh;
    }
    .main-banner {
        height: 90vh;
        padding: 35vh 4rem;
    }
}